@model Aplicacion.Models.MeGustasRecibidosViewModel

@{
    ViewData["Title"] = "TinderDog";
}

<style>
    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }

    .card-body {
        position: relative;
        padding: 0px;
    }

    .card-text {
        position: absolute;
        top: 90%;
        left: 5%;
        transform: translate(-0%, -50%);
    }
</style>


<div class="container-fluid" id="ContainerListarMisCandidatos">
    @await Html.PartialAsync("_ListarMegustasRecibidos", Model)
</div>
<div class="b-example-divider"></div>


