@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Oh my dog!</h1>
    <p>Veterinaria especializada en el cuidado de nuestro miembro familiar canino</p>
</div>
