@model Aplicacion.Models.Cuidadore

@{
    Layout = null;
    ViewData["Title"] = "Create";
}
<head>

    <link rel="stylesheet" href="~/css/map.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/bodyCreate.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aplicacion.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
          integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />

    <link rel="stylesheet"
          href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css" />

</head>


<div id="agregarCuidador" class="row no-border">
       
            <div class="card no-border">
                
                <div class="card-body no-border" id="tarjeta">
            <form id="formulario" class="no-border m-2"autocomplete="false">
                        <div  class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Nombre</label>
                    <input type="text" id="nombre" autocomplete="false" maxlength="100" class="form-control" />
                        <span id="nombre_val" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Apellido</label>
                    <input type="text" id="apellido" autocomplete="false" maxlength="100" class="form-control" />
                        <span id="apellido_val" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label  class="control-label">Email</label>
                    <input type="text" id="email" autocomplete="false" maxlength="300" class="form-control" />
                            <span id="email_val" class="text-danger"></span>
                        </div>
                    <div class="form-group">
                        <label class="control-label">Ubicacion</label>

                    <input class="form-control" autocomplete="false"  id="direccion" placeholder="Ej: Calle 35" />
                        <span id="direccion_val" class="text-danger"></span>
                    </div>
                    
                    <div>
                    <div class="form-group d-flex align-content-center justify-content-evenly">
                            <div class="form-group">
                                <label class="control-label">Horario comienzo: </label>

                            <input id="inicio" type="time" autocomplete="false" class="form-control" />
                                <span  class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label  class="control-label">Horario finaliza: </label>
                            <input autocomplete="off" type="time" id="fin" class="form-control" />
                                <span class="text-danger"></span>
                            </div>
                        
                            </div>
                        <div class="text-center">
                            <span class="text-danger" id="fechas_val"></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                    <label class="input-group-text" for="upload" >Foto</label>
                    <input type="file" class="form-control" accept=".jpg,.jpeg,.png" id="upload" onchange="validateFileType()">
                   
                    </div>
                    <div>
                <span class="text-danger" id="foto_val"></span>
                </div>
                    <button type="button" class="btn btn-primary" disabled id="btnShowModal" data-toggle="modal" data-target="#exampleModalCenter">
                        Publicar
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                   
                                </div>
                                <div class="modal-body "style="height:300px;">
                                <div class="container"  id="mapcontainer">
                                    <div id="map" style="height:250px;"></div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" id="btnCloseModal" data-dismiss="modal">Cancelar</button>
                                    <div class="form-group" id="enviarCuidador">
                                        <input id="cargar" type="button" value="Confirmar" class="btn btn-primary"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
}<script type="text/javascript"
         src="https://maps.googleapis.com/maps/api/js?libraries=places&sensor=false&key=AIzaSyCOaGBTqaoeabIM9N5VJ9rn0jdrCGvqjCk"></script>
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
            integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
<!--    AIzaSyCOaGBTqaoeabIM9N5VJ9rn0jdrCGvqjCk*/
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
<script src="~/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript">
    


    function showMessage(message,id) {
        const output = document.querySelector(id);
        output.textContent = message;
    }
    function checkEmail(email) {
        
        const reg = new RegExp( /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,"gm")
        if (!(reg.exec(email))){
            showMessage("Ingrese un mail válido","#email_val")
            return false;
        }else
        {
            showMessage("","#email_val")
            return true;
        }

    }

    let file = document.getElementById("upload");
    function validateFileType() {
        var fileName = file.value,
            idxDot = fileName.lastIndexOf(".") + 1,
            extFile = fileName.substr(idxDot, fileName.length).toLowerCase();
        if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
            //TO DO
            showMessage("", "#foto_val");
        } else {
            showMessage("La foto ingresada no es válida", "#foto_val");
            file.value = "";  // Reset the input so no files are uploaded
        }
    }



    function checkApellido(apellido) {
        const reg = new RegExp(/^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u, "gm");
        if (!(reg.exec(apellido)))
        {
            showMessage("Ingrese un apellido válido","#apellido_val");
            return false;
        }else
        {
            showMessage("", "#apellido_val");
            return true;
        }
    }

    function checkNombre(nombre) {
        const reg = new RegExp(/^[a-zA-ZàáâäãåąčćęèéêëėįìíîïłńòóôöõøùúûüųūÿýżźñçčšžÀÁÂÄÃÅĄĆČĖĘÈÉÊËÌÍÎÏĮŁŃÒÓÔÖÕØÙÚÛÜŲŪŸÝŻŹÑßÇŒÆČŠŽ∂ð ,.'-]+$/u, "gm");
        if (!(reg.exec(nombre)))
            {
            showMessage("Ingrese un nombre válido", "#nombre_val");
            return false;
        } else {
            
            showMessage("", "#nombre_val");
            return true;
        }
    }

    function checkDireccion(direccion)
    {   
        if (direccion==""){
            showMessage("Ingese una direccion valida","#direccion_val");
            return false;
        }
             else {

        showMessage("", "#direccion_val");
        return true;
    }
    }

    function checkFechas(inicio,fin) {
        if (inicio=='' || fin=='')
            return false;
        if (inicio >=fin) {
            showMessage("Ingese un rango de fechas validas", "#fechas_val");
            return false;
        }
        else {
            showMessage("", "#fechas_val");
            return true;
        }
    }

    
    

    
    function init() {
        const element_email = document.getElementById('email');
        const element_nombre= document.getElementById('nombre');
        const element_apellido= document.getElementById('apellido');
        const element_direccion = document.getElementById('direccion');
        const element_inicio = document.getElementById('inicio');
        const element_fin = document.getElementById('fin');
        
        var mapOptions = {
            center: [-34.9, -57.9597539],
            zoom: 13,
            zoomControl: true
        }

        var map = new L.map('map', mapOptions);

        var layer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png');
        map.addLayer(layer);

        var customIcon = {
            iconUrl: "https://svgsilh.com/svg/1314467-ff9800.svg",
            iconSize: [40, 40],
        }


        //let myIcon = L.divIcon();

        var myIcon = L.icon(customIcon);
        var marker;
        



        var latitude;
        var longitude;
        var puedo;

        var pac_input = document.getElementById('direccion');






        (function pacSelectFirst(input) {
            // store the original event binding function
            var _addEventListener = (input.addEventListener) ? input.addEventListener : input.attachEvent;

            function addEventListenerWrapper(type, listener) {
                // Simulate a 'down arrow' keypress on hitting 'return' when no pac suggestion is selected,
                // and then trigger the original listener.

                if (type == "keydown" || type == "blur") {

                    var orig_listener = listener;
                    listener = function (event) {
                        var suggestion_selected = $(".pac-item-selected").length > 0;
                        var keyCode = event.keyCode || event.which;
                        if ((keyCode === 13 || keyCode === 9) && !suggestion_selected) {
                            var simulated_downarrow = $.Event("keydown", {
                                keyCode: 40,
                                which: 40
                            });
                            orig_listener.apply(input, [simulated_downarrow]);
                        } else if (event.type === 'blur' && $(".pac-container .pac-item:first-child").text() != "") {

                            pac_input.value =
                                $(".pac-container .pac-item:first-child").text();
                            // $(".pac-container").delegate(".pac-item:first-child","click",function(){
                            //  console.log("success");
                            // });

                            $(".pac-container .pac-item:first-child").bind('click', function () {
                                console.log("click");
                            });

                        }
                        orig_listener.apply(input, [event]);
                    };
                }

                // add the modified listener
                _addEventListener.apply(input, [type, listener]);
            }

            if (input.addEventListener)
                input.addEventListener = addEventListenerWrapper;
            else if (input.attachEvent)
                input.attachEvent = addEventListenerWrapper;

        })(pac_input);


        $(function () {
            var autocomplete = new google.maps.places.Autocomplete(pac_input);


        });



        element_email.addEventListener(
            'blur',
            function(){
                
                checkEmail(element_email.value);
            }
        );
            element_nombre.addEventListener(
                'blur',
                function () {

                    checkNombre(element_nombre.value);
                }
            );
            element_apellido.addEventListener(
                'blur',
                function () {

                    checkApellido(element_apellido.value);
                }
            );
            element_direccion.addEventListener(
                'blur',
                function () {

                    checkDireccion(element_direccion.value);
                }
            );

    var puedo=true;
        $("#btnShowModal").click(function () {
            showMessage("Ingese una direccion valida", "#direccion_val");
            var _cuidador = {};
         
            _cuidador.Id=0;
            _cuidador.Nombre = $("#nombre").val();
            _cuidador.Apellido = $("#apellido").val();
            _cuidador.Email = $("#email").val();
            _cuidador.HorarioIN = $("#inicio").val();
            _cuidador.HorarioOUT = $("#fin").val();
            _cuidador.Foto = $("#upload").val();
            
            function controlarUbicacion(){
            if (puedo){
                _cuidador.Latitud = latitude;
                _cuidador.Longitud = longitude;
                _cuidador.Ubicacion = $("#direccion").val();
                
                $.ajax({
                type: "POST",
                url: "/Cuidadores/existeCuidador",
                data: _cuidador,
                
                dataType: "json",
                success: function (r) {
                    if (r) {
                        showMessage("", "#direccion_val");
                        Swal.fire({
                            title: 'Error',
                            text: 'El cuidador ya se encuentra en la zona',
                           // html: '<img width="250" height="200" src="/img/AdobeStock_33953457.svg">',
                            imageUrl: "/img/AdobeStock_33953457.svg",
                            imageHeight: 155,
                        })
                       puedo=false;
                     
                     
                    } else {
                        var iconOptions = {
                            title: _cuidador.Nombre,
                            draggable: false,
                            icon: myIcon
                        }
                        showMessage("", "#direccion_val");
                        marker = new L.Marker([_cuidador.Latitud, _cuidador.Longitud], iconOptions);
                        marker.addTo(map);
                        map.panTo(new L.LatLng(_cuidador.Latitud, _cuidador.Longitud));
                        $("#exampleModalCenter").modal('show');
                        setTimeout(function () { map.invalidateSize() }, 400);
                        puedo=false;
                        
                            
                    }
                }
            });
            };
            }
            function obtenerPosicion() {
                geocoder = new google.maps.Geocoder();

                geocoder.geocode({
                    address: $("#direccion").val()
                }, (results, status) => {
                    if (status == google.maps.GeocoderStatus.OK) {
                        latitude = (results[0].geometry.location.lat());
                        longitude = (results[0].geometry.location.lng());
                        controlarUbicacion();
                    }
                });

            }

            obtenerPosicion();

        });
           



        $("#btnHideModal").click(function () {
            $("#exampleModalCenter").modal('hide');
            if (map.hasLayer(marker)) {
                map.removeLayer(marker);
            }
        });

        $("#btnCloseModal").click(function () {
            $("#exampleModalCenter").modal('hide');
            if (map.hasLayer(marker)) {
                map.removeLayer(marker);
            }
        });
       
            $('#cargar').on('click', function (event) {
               
         
            


            var fullPath = document.getElementById('upload').value;
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                var filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
                
            }
            var nombre = $("#nombre").val();
            var apellido = $("#apellido").val();
            var email = $("#email").val();
            var horarioIN = $("#inicio").val();
            var horarioOUT = $("#fin").val();
             var foto;
            if ($('#upload').val())
           {
             foto = '/img/'+$('#upload').val().replace(/C:\\fakepath\\/i, '');
                var fileUpload = $("#upload").get(0);
                var files = fileUpload.files;

                var fileData = new FormData();

                fileData.append(files[0].name, files[0]);

                $.ajax({
                    url: '/Cuidadores/uploadFile',
                    type: 'post',
                    datatype: 'json',
                    contentType: false,
                    processData: false,
                    async: false,
                    data: fileData,
                    success: function (response) {
                       
                    }
                });


            }
            var latitud = latitude;
            var longitud = longitude;
            var ubicacion = $("#direccion").val();


            var jsonData = {
                Id:0,
                Nombre: nombre,
                Apellido: apellido,
                Email: email,
                HorarioIN: horarioIN,
                HorarioOUT: horarioOUT,
                Foto: foto,
                Latitud: latitud,
                Longitud: longitud,
                Ubicacion: ubicacion,
            };
            $.ajax({
                type: "POST",
                url: "/Cuidadores/Insertar",
                data: jsonData,
                dataType: "json",
                success: function (r) {
                    if (r) {

                        Swal.fire({
                            imageUrl: '/img/AdobeStock_262214231.svg',
                            imageHeight: 155,
                            title: 'Felicitaciones!',
                            text: 'El cuidador se ha publicado exitosamente',
                            timer: 5000,
                            timerProgressBar: true
                        })
                            .then((result) => {
                                /* Read more about handling dismissals below */
                                if (result.dismiss === Swal.DismissReason.timer) {
                                    console.log('I was closed by the timer')
                                }

                                window.parent.closeCargar();
                            })
                        
                    } 
                }
            });
        });
    
      

    $(document).on("keypress", 'form', function (e) {
        var code = e.keyCode || e.which;
        console.log(code);
        if (code == 13) {
            e.preventDefault();
            return false;
        }
    });

        $('#formulario').on("mouseup keydown", function () {
            var nombreInput = document.getElementById('nombre').value;
            var direccionInput = document.getElementById('direccion').value;
            var apellidoInput = document.getElementById('apellido').value;
            var emailInput = document.getElementById('email').value;
            var inicioInput = document.getElementById('inicio').value;
            var finInput = document.getElementById('fin').value;
            if (!((nombreInput=='') || (apellidoInput=='')
                || (emailInput=='') || (direccionInput=='') || (inicioInput=='') || ( finInput==''))) {
            if  (checkNombre(nombreInput) && checkApellido(apellidoInput)
                && checkEmail(emailInput) && checkDireccion(direccionInput) && checkFechas(inicioInput, finInput)) {   
                document.getElementById('btnShowModal').removeAttribute("disabled");
            } else {
                
                document.getElementById('btnShowModal').setAttribute("disabled", null);
            }
        }
        });
    
        }
    
    document.addEventListener("DOMContentLoaded", init);

    

    </script>

