@using Microsoft.AspNetCore.Identity;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aplicacion</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />-->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Aplicacion.styles.css" asp-append-version="true" />
    
    <!--Iconos de FontAwesome-->
    <script src="https://kit.fontawesome.com/a043b2893b.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--<header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Aplicacion</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index">Clientes</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>-->
    

    <!--Inicio Header Veterinario-->
    <div class="container-fluid">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                <img class="bi me-2" src="~/img/Logo - Veterinaria.png" width="100" height="80">
            </a>

            <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link px-2 link-light active" aria-current="page">
                        <i class="fa-solid fa-house fa-lg" style="color: #ffffff;"></i>
                        Inicio
                    </a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-newspaper fa-xl" style="color: #000000;"></i>
                        Publicaciones
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Adopciones</a></li>
                        <li><a class="dropdown-item" href="#">Perdidas</a></li>
                        <li><a class="dropdown-item" href="#">Colectas</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle link-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fa-solid fa-image-portrait fa-xl" style="color: #000000;"></i>
                        Servicios
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="Cuidadores_Veterinaria.html">Cuidadores</a></li>
                        <li><a class="dropdown-item" href="#">Paseadores</a></li>
                    </ul>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        <a href="#" class="nav-link px-2 link-dark">
                            <i class="fa-solid fa-heart" style="color: #000000;"></i>
                            TinderDog
                        </a>
                    </li>
                }
                <li>
                    <a href="#" class="nav-link px-2 link-dark" id="openModal">
                        <i type="button" class="fa-solid fa-envelope fa-xl btn" style="color: #000000;" data-bs-toggle="modal" data-bs-target="#modalEnviarMensaje"></i>
                        Contacto
                    </a>
                        
                </li>
            </ul>
            <!-- Modal -->
            <div class="modal fade" id="modalEnviarMensaje" tabindex="-1" aria-labelledby="modalEnviarMensajeLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="modalEnviarMensajeLabel">Enviar Mensaje</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form asp-controller="Contacto" asp-action="EnviarCorreo" method="post">
                                <div class="mb-3">
                                    <label for="remitente" class="form-label">Remitente:</label>
                                    <input type="email" class="form-control" id="remitente" name="remitente" required>
                                </div>
                                <div class="mb-3">
                                    <label for="destinatario" class="form-label">Destinatario:</label>
                                    <input type="email" class="form-control" id="destinatario" name="destinatario" readonly required value="ohmydoggonet@outlook.es">
                                </div>
                                <div class="mb-3">
                                    <label for="asunto" class="form-label">Asunto:</label>
                                    <input type="text" class="form-control" id="asunto" name="asunto" required>
                                </div>
                                <div class="mb-3">
                                    <label for="contenido" class="form-label">Contenido:</label>
                                    <textarea class="form-control" id="contenido" name="contenido" required></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="col-md-3 text-center">
                    <div class="dropdown-center">
                        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            @User.Identity.Name
                            <i class="fa-solid fa-circle-user fa-lg" style="color: #0b357f; font-size: 45px;"></i>
                        </a>
                        <ul class="dropdown-menu text-small">
                            @if (User.IsInRole("Administrador"))
                            {
                                <li><a class="dropdown-item active" asp-area="" asp-controller="Usuarios" asp-action="Index">Clientes</a></li>
                            }
                            <li><a class="dropdown-item" href="#">Calendario</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Usuarios" asp-action="CambiarContrasena">Cambiar contraseña</a></li>
                            <li><a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="LogOut">Cerrar sesión</a></li>
                        </ul>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-3">
                    <a class="btn btn-primary" asp-area="" asp-controller="Login" asp-action="Index">
                        Iniciar sesión
                    </a>
                </div>
            }
        </header>
    </div>
    <!--Fin Header Veterinario-->

    <div class="container-fluid" style="padding-left: 0px; padding-right: 0px;">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!--Inicio del Footer-->
    <div class="container-fluid" style="background-color: #faf4e8; padding-left: 0px !important; padding-right: 0px !important">
        <div class="container-fluid">
            <footer class="py-5">
                <div class="row">
                    <div class="col-6 col-md-2 mb-3">
                        <h5>Publicaciones</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">Adopciones</li>
                            <li class="nav-item mb-2">Perdidas</li>
                            <li class="nav-item mb-2">Colectas</li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Servicios</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">Tratamientos</li>
                            <li class="nav-item mb-2">Vacunaciones</li>
                            <li class="nav-item mb-2">Paseadores</li>
                            <li class="nav-item mb-2">Cuidadores</li>
                        </ul>
                    </div>

                    <div class="col-6 col-md-2 mb-3">
                        <h5>Horarios de atención</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2">Lunes a viernes de 8 a 13 - 17 a 20</li>
                            <li class="nav-item mb-2">Sábado de 8 a 13</li>
                            <li class="nav-item mb-2">Guardias las 24 hs.</li>
                        </ul>
                    </div>

                    <div class="col-md-5 offset-md-1 mb-3">
                        <form>
                            <h5>Nuestra ubicación</h5>
                            <p>Calle 13 4995, Gonnet - La plata, Buenos Aires Argentina.</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3273.3658090954345!2d-58.02828196052553!3d-34.87215939181364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2de0a7f62a3d1%3A0x58eaf36291e7779b!2sJLA%2C%20C.%2013%204995%2C%20B1897%20Gonnet%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1683927474143!5m2!1ses!2sar" width="100%" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </form>
                    </div>
                </div>
            </footer>
        </div>
        <div class="container-fluid" style="background-color: #67b1c4;">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top" style="margin-bottom: 0px !important;">
                <div class="col-md-4 d-flex align-items-center">
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
                        <img src="~/img/Logo 2 - Veterinaria.png" width="20%">
                    </a>

                </div>
                <span class="mb-3 mb-md-0 text-black">&copy; 2023 LEM Software Dev.</span>
                <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter" /></svg></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram" /></svg></a></li>
                    <li class="ms-3"><a class="text-muted" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook" /></svg></a></li>
                </ul>
            </footer>
        </div>
    </div>
    <!--Fin del Footer-->

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Aplicacion - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>-->
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#openModal').click(function () {
                $('#modalEnviarMensaje').modal('show');
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
