@model Usuarios
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Inicio de sesion</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="theme-color" content="#7952b3">
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

    </style>
    <link href="~/css/loginStyles.css" rel="stylesheet">
</head>

<body class="text-center">
    <main class="form-signin">
        <form asp-controller="Login" asp-action="Index" method="post">
            <img class="mb-4" src="~/img/Logo - Veterinaria.png" alt="" width="82" height="95">
            <h1 class="h3 mb-3 fw-normal">Inicio de sesion</h1>
            <div class="form-floating">
                <input required type="email" class="form-control" asp-for="Email" id="floatingInput" placeholder="ejemplo@example.com">
                <label for="floatingInput">Correo electrónico</label>
            </div>
            <div class="form-floating">
                <input required minlength="8" type="password" class="form-control" asp-for="Pass" id="floatingPassword" placeholder="Contraseña">
                <label for="floatingPassword">Contraseña</label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
        </form>
    </main>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            var msjArray = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Message));
            msjArray = msjArray.split(',');
            var msjTitle = msjArray[0];
            var msjText = msjArray[1];
            Swal.fire({
                icon: 'warning',
                title: msjTitle,
                text: msjText
            })
        </script>
    }
</body>

</html>
