.ftco-section {
  padding: 3em 0; }

.ftco-no-pt {
  padding-top: 0; }

.ftco-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px;
  color: #000; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

.content {
    border: 1px solid black;
    overflow: none;
    width: 100%;
    height: 100%;
    max-width: 790px;
    padding: 0px 0;
    height: 500px;
    position: relative;
    margin: 20px auto;
    background: #add8e6;
}
select option[value=""], select:invalid{
    color:'grey';
}

/*  Events display */
.events-container {
    overflow-y: scroll;
    height: 100%;
    width: 50%;
    float: right;
    margin: 0px auto;
    display: inline-block;
    padding: 0px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    padding: 0;
}
  @media (max-width: 767.98px) {
    .events-container {
      width: 100%;
      height: auto; } }

.events-container:after {
  clear: both; }

.event-card {
  padding: 10px 10px;
  max-width: 100%;
  display: block;
  background: #fff;
  
  margin: 20px;
  margin-left: 12px; }
  @media (max-width: 991.98px) {
    .event-card {
      margin: 10px; } }
  @media (max-width: 767.98px) {
    .event-card {
      margin: 0;
      background: #e6e6e6; } }

.event-count, .event-name, .event-cancelled {
  display: inline;
  padding: 0 10px;
  font-size: 1rem; }

.event-count {
  color: #7e0cf5;
  text-align: right; }

.event-name {
  padding-right: 0;
  text-align: left; }

.event-cancelled {
  color: #cd4dcc;
  text-align: right; }

/*  Calendar wrapper */
.calendar-container {
   
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 50%;
  background: #fff;
  font: 13px Helvetica, Arial, san-serif;
  display: inline-block;
  padding: 20px;
  float: left; }
  @media (max-width: 991.98px) {
    .calendar-container {
      padding: 0; } }
  @media (max-width: 767.98px) {
    .calendar-container {
      padding: 0;
      width: 100%; } }

.calendar-container:after {
  clear: both; }

.calendar {
  width: 100%;
  padding: 0; }

/* Calendar Header */
.year-header {
  background: #fff;
  height: 40px;
  text-align: center;
  position: relative;
  color: #fff;
  border-top-left-radius: 3px;
  margin-top: 10px; }

.year-header span {
  display: inline-block;
  font-size: 20px;
  line-height: 40px;
  color: #000; }

.left-button, .right-button {
  cursor: pointer;
  width: 28px;
  text-align: center;
  position: absolute;
  color: #cccccc !important;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  font-size: 14px !important; }
  @media (prefers-reduced-motion: reduce) {
    .left-button, .right-button {
      -webkit-transition: none;
      -o-transition: none;
      transition: none; } }
  .left-button:hover, .right-button:hover {
    color: #7e0cf5 !important; }

.left-button {
  left: 0; }

.right-button {
  right: 0;
  top: 0; }

/* Buttons */
.button {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  font-size: 1rem;
  border-radius: 25px;
  padding: 0.65rem 1.9rem;
  -webkit-transition: .2s ease all;
  -o-transition: .2s ease all;
  transition: .2s ease all;
  color: white;
  border: none;
  background: #7e0cf5; }
  .button.button-white {
    background: #fff;
    color: #000; }
  .button:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none; }



#ok-button {
    display: block;
    position: absolute;
    right: 40px;
    bottom: 20px;
    background-color: #6fbbd3;
}

#add-button {
    display: block;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background: #6fbbd3;
}


#add-button:hover, #ok-button:hover, #cancel-button:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
}

#add-button:active, #ok-button:active, #cancel-button:active{
    -webkit-transform: translateY(3px) scale(0.97);
    -ms-transform: translateY(3px) scale(0.97);
    transform: translateY(3px) scale(0.97);
}

/* Days/months tables */
.days-table, .dates-table, .months-table {
  border-collapse: separate;
  text-align: center; }

.day {
  height: 26px;
  width: 26px;
  padding: 0 10px;
  line-height: 26px;
  border: 2px solid transparent;
  text-transform: uppercase;
  font-size: 10px;
  color: #000; }

.month {
  cursor: default;
  height: 26px;
  width: 26px;
  padding: 0 2px;
  padding-top: 10px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 11px;
  color: #cccccc;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms; }
  @media (max-width: 991.98px) {
    .month {
      font-size: 8px; } }
  @media (max-width: 767.98px) {
    .month {
      font-size: 10.5px; } }

.active-month {
  font-weight: 700;
  color: #000; }

.month:hover {
    color: #FFD580;
}

/*  Dates table */
.table-date {
  cursor: default;
  color: #2b2b2b;
  height: 26px;
  width: 26px;
  font-size: 15px;
  padding: 10px;
  line-height: 26px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid transparent;
  -webkit-transition: all 250ms;
  -o-transition: all 250ms;
  transition: all 250ms;
  position: relative; }

    .table-date:not(.nil):hover {
        border-color: #FFD580;
    }

.event-date {
    border-color: #add8e6;
    background: #add8e6;
    color: #fff;
}
  

.active-date {
    background: #FFD580;
    color: #fff;
}
 .color-turno {
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background: #28a745;

  }

.color-turno2 {
    position: absolute;
    top: 0;
    left: 12px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background: #28a745;
}

.color-turno3 {
   
    position: absolute;
    top: 0;
    left: 24px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: '';
    background: #28a745;
}


.event-date.active-date {
  background:#add8e6 }

/* input dialog */
.dialog {
    z-index: 5;
    background: #fff;
    position: absolute;
    width: 50%;
    height: 499px;
    top: 0;
    right: 0;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-color: #000000;
    display: none;
}
  @media (max-width: 767.98px) {
    .dialog {
      width: 100%; } }

.dialog-header {
  margin: 20px;
  color: #000;
  text-align: center;
  font-size: 28px; }

.form-container {
  margin-top: 15%; }

.form-label {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 1px;
  color: black }

.input {
    border: 1px solid black;
    display: block;
    margin-bottom: 15px;
    width: 300px;
    height: 100px;
    text-align: justify;
    -webkit-transition: border-color 250ms;
    -o-transition: border-color 250ms;
    transition: border-color 250ms;
    color: #000;
}

.seleccion {
    display: block;
    margin-bottom: 15px;
    width: 300px;
    height: 30px;
    
    text-align: left;
    text-align-last: left;
    -webkit-transition: border-color 250ms;
    -o-transition: border-color 250ms;
    transition: border-color 250ms;
}

.input:focus {
  outline: none;
  border-color: black; }

.error-input {
  border-color: #cd4dcc; }