html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.carousel-image 
{
    height: 60rem;
}

.spinner {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.spinner.show {
    display: block;
}