@model Aplicacion.Models.Perros

<div class="container" style="margin-top: 50px; margin-bottom: 100px;">
    <div class="col-lg-7 text-center text-lg-start">
        <p class="display-6 fw-bold mb-3" style="font-weight: 500!important;">
            <i class="fa-solid fa-paw fa-md"></i>
            @Model.Nombre - Historia clínica
        </p>
    </div>
    @if (Model.TratamientoPerros.Count == 0)
    {
        <div class="text-center alert alert-info" role="alert">
            <h3>
                Aún no se han registrado tratamientos para el perro
            </h3>
        </div>
    }
    @if (Model.Estado)
    {
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#ModalNuevoTratamiento">
            <i class="fa-solid fa-file-medical fa-xl" style="color: #FFFFFF;"></i>
            Nuevo tratamiento
        </button>
    }
</div>
@if(Model.TratamientoPerros.Count != 0)
{
    <div class="container" style="margin-bottom: 100px;">
        <div class="accordion" id="accordionExample">
            @foreach(var item in Model.TratamientoPerros)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading@(item.Id)">
                        <button class="accordion-button collapsed" style="background-color: aliceblue;" type="button" data-bs-toggle="collapse" data-bs-target="#collapse@(item.Id)" aria-expanded="false" aria-controls="collapse@(item.Id)">
                            <p style="margin-right: 10px;">
                                <strong>Fecha: </strong> @item.Fecha.ToShortDateString()
                            </p>
                            <p>
                                <strong>Tratamiento: </strong> @item.IdTratamientoNavigation.Nombre - 
                            </p>
                        </button>
                    </h2>
                    <div id="collapse@(item.Id)" class="accordion-collapse collapse" aria-labelledby="heading@(item.Id)" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <strong>Observaciones: </strong> @item.Observaciones
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
