@model Aplicacion.Models.Perros

@if (Model.Estado)
{
    <div class="container" style="margin-bottom: 20px;">
        <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#ModalNuevaVacuna">
            <i class="fa-solid fa-syringe fa-xl" style="color: #FFFFFF;"></i>
            Nueva vacuna
        </button>
    </div>
}

@if (Model.VacunaPerros.Count != 0)
{
    <div class="container" style="margin-bottom: 100px;">
        <div class="list-group">
            @foreach (var item in Model.VacunaPerros)
            {
                <a class="list-group-item list-group-item-action shadow-sm" aria-current="true" style="margin-bottom: 10px;">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">Vacuna: @item.IdVacunaNavigation.Nombre </h5>
                    </div>
                    <p class="mb-1">
                        Dosis: @item.Dosis
                        <br>
                        Nro de lote: @item.NroLote
                    </p>
                    <span class="badge text-bg-light">
                        <strong style="font-size: 15px;">
                            Fecha de aplicación:
                            @item.FechaAplicacion.ToShortDateString()
                        </strong>
                    </span>
                </a>
            }
        </div>
    </div>
}else{
    <div class="text-center alert alert-info" role="alert">
        <h3>
            <p>Aún no se han registrado vacunaciones para el perro</p>
        </h3>
    </div>
}