@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims;
@model Perdidas

@{
    ViewData["Title"] = "Publicar perdida";
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<style>
    .huella-img {
        width: 3rem;
        height: 3rem;
    }

    .btn-custom {
        background-color: #59a1ab;
        color: white;
        border-color: #59a1ab;
    }

    .btn-custom:hover {
        background-color: #41767d;
        color: white;
        border-color: #41767d;
    }

    .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
</style>


<div class="text-center" style="background-color: #c2dee2; padding-top: 16px; padding-bottom: 16px;">
    <h1 class="display-7">Bienvenido al servicio de publicar perdidas de nuestra veterinaria <img class="huella-img" src="~/img/perroPerdido.png" /></h1>
    <p style="margin-bottom: 0px;">
        En este apartado puede publicar a su perro para que los demás miembros de la comunidad puedan estar informados de la situación y se contacten con usted lo antes posible.
        <br />
        Con este servicio le garantizamos recuperar a su miembro familiar canino, y asi pueda volver a su hogar.
    </p>
</div>
<div class="container" style="margin-bottom: 50px; margin-top: 40px;">
    <div class="row justify-content-center">
        <div class="col-md-9 border rounded mt-4 mb-4 shadow-lg bg-light" style="padding: 30px;">
            <form class="row g-3 needs-validation Formulario" novalidate id="FormPublicar">
                <p class="display-6 fw-bold" style="margin-bottom: 50px;">Publicar perdida</p>
                <div class="col-md-4">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control InputText" id="Nombre" maxlength="50" required>
                    <div class="invalid-feedback">
                        Ingrese el nombre del perro
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Raza</label>
                    <input type="text" maxlength="50" class="form-control InputText" id="Raza" required>
                    <div class="invalid-feedback">
                        Ingrese una raza
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom04" class="form-label">Sexo</label>
                    <select class="form-select InputSelect" id="Sexo" required>
                        <option selected disabled value="">Elige...</option>
                        <option value="Macho">Macho</option>
                        <option value="Hembra">Hembra</option>
                    </select>
                    <div class="invalid-feedback">
                        Seleccione un sexo
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Color</label>
                    <input type="text" maxlength="50" class="form-control InputText" id="Color" required>
                    <div class="invalid-feedback">
                        Ingrese un color
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="validationCustom04" class="form-label">Tamaño</label>
                    <select class="form-select InputSelect" id="Peso" required>
                        <option selected disabled value="">Elige...</option>
                        <option value="Pequeño">Pequeño</option>
                        <option value="Mediano">Mediano</option>
                        <option value="Grande">Grande</option>
                    </select>
                    <div class="invalid-feedback">
                        Seleccione un tamaño
                    </div>
                </div>
                <div class="col-md-4">
                    <label class="form-label">Fecha de la perdida</label>
                    <input type="date" class="form-control InputDate" id="FechaPerdida" max="" required>
                    <div class="invalid-feedback">
                        Ingrese una fecha válida (la fecha no puede ser futura)
                    </div>
                </div>
                <div class="col-md-12">
                    <label class="form-label" for="" value="">Foto (opcional)</label>
                    <input type="file" class="form-control InputFoto" accept=".jpg,.jpeg,.png" id="Foto">
                    <div class="invalid-feedback">
                        La foto ingresada no es válida
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="validationCustom02" class="form-label">Descripción</label>
                    <textarea class="form-control InputText" maxlength="100" id="Descripcion" required></textarea>
                    <div class="invalid-feedback">
                        Ingrese una breve descripción del lugar y momento de la perdida del perro (Máximo 100 caracteres).
                    </div>
                </div>
                <div class="col-12">
                    <input type="hidden" value="@User.FindFirstValue("Email")" id="Email" />
                    <button type="button" class="btn btn-warning BtnCancelarForm" id="BotonCancelarRegistro">Cancelar</button>
                    <button class="btn btn-custom mt-2 mb-2 BtnEnvioForm" type="button" id="BtnEnvio" disabled onclick="PublicarPerdida()" style="margin-left: 20px;">Publicar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="b-example-divider"></div>

@if (ViewBag.Message != null)
{
    <script type="text/javascript">
@*        var form = document.getElementById('form-perdidas');
        form.reset();
        document.getElementById('email').value = '';
        document.getElementById('pass').value = '';*@
        var msjArray = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.Message));
        msjArray = msjArray.split('.');
        var msjTitle = msjArray[0];
        var msjText = msjArray[1];
        Swal.fire({
            icon: 'error',
            title: msjTitle,
            text: msjText@*,
            customClass: {
                icon: 'my-custom-icon-class' // Aquí debes especificar la clase CSS para tu icono personalizado
            }*@
        });
    </script>
}

@section Scripts{
    <!--Validacion de relleno de formulario-->
    <script>
        // --> RESET DE FORMULARIOS MEDIANTE BOTON CANCELAR <--
        function ResetFormulario(boton) {
            var formulario = boton.closest("form");
            var campos = formulario.querySelectorAll(".InputText, .InputDate, .InputSelect, .InputNumber, .InputFoto");

            campos.forEach(function (campo) {
                campo.value = '';
                if (campo.classList.contains("is-valid")) {
                    campo.classList.remove("is-valid");
                }
                if (campo.classList.contains("is-invalid")) {
                    campo.classList.remove("is-invalid");
                }
            });

            var botonEnvio = formulario.querySelector(".BtnEnvioForm");
            botonEnvio.disabled = true;
        }
        var botonesCancelar = document.querySelectorAll(".BtnCancelarForm");
        botonesCancelar.forEach(function (elemento) {
            elemento.addEventListener('click', function () {
                ResetFormulario(this);
            });
        });

        // --> VALIDACION DE FORMULARIOS PARA BOTON ACEPTAR <--
        var formularios = document.querySelectorAll(".Formulario");
        var botonesEnvio = document.querySelectorAll(".BtnEnvioForm");

        function ValidarFormulario() {
            var formulario = this;
            var campos = formulario.querySelectorAll(".InputText, .InputDate, .InputSelect, .InputNumber");
            var todosValidos = true;

            campos.forEach(function (campo) {
                if (!campo.classList.contains("is-valid")) {
                    todosValidos = false;
                    return;
                }
            });

            var botonEnvio = formulario.querySelector(".BtnEnvioForm");
            if (todosValidos) {
                botonEnvio.disabled = false;
            } else {
                botonEnvio.disabled = true;
            }
        }

        // --> VALIDACION DE INPUT TEXT <--
        function ValidarInputText() {
            if (this.value.trim() !== '') {
                this.classList.remove('is-invalid');
                this.classList.add('is-valid');
            } else {
                this.classList.remove('is-valid');
                this.classList.add('is-invalid');
            }
        }

        // --> VALIDACION DE INPUT DATE <--
        function ValidarInputDate(fechaActual) {
            if (this.value.trim() !== '' && (this.value <= fechaActual)) {
                this.classList.remove('is-invalid');
                this.classList.add('is-valid');
            } else {
                this.classList.remove('is-valid');
                this.classList.add('is-invalid');
            }
        }

        // --> VALIDACION DE INPUT SELECT <--
        function ValidarInputSelect() {
            if (this.selectedIndex !== -1) {
                this.classList.remove('is-invalid');
                this.classList.add('is-valid');
            } else {
                this.classList.remove('is-valid');
                this.classList.add('is-invalid');
            }
        }

        // --> VALIDACION DE INPUT NUMBER <--
        function ValidarInputNumber() {
            if (/^[0-9]+([.][0-9]+)?$/.test(this.value)) {
                var pesoNum = parseFloat(this.value);
                var enteroMin = 0; // Valor mínimo para la parte entera
                var enteroMax = 100; // Valor máximo para la parte entera
                var decimalMin = 0; // Valor mínimo para la parte decimal
                var decimalMax = 999; // Valor máximo para la parte decimal

                var entero = Math.floor(pesoNum);
                var decimal = Math.round((pesoNum - entero) * 100);

                if (entero >= enteroMin && entero <= enteroMax && decimal >= decimalMin && decimal <= decimalMax) {
                    this.classList.remove("is-invalid");
                    this.classList.add("is-valid");
                } else {
                    this.classList.remove("is-valid");
                    this.classList.add("is-invalid");
                }
            } else {
                this.classList.remove("is-valid");
                this.classList.add("is-invalid");
            }
        }

        var fechaActual = new Date();
        fechaActual.setUTCHours(fechaActual.getUTCHours() - 3); // Modifica la fecha para que sea la actual de Argentina
        var valorActual = fechaActual.toISOString().split("T")[0];
        formularios.forEach(function (formulario) {
            var campos = formulario.querySelectorAll(".InputText, .InputDate, .InputSelect, .InputNumber");
            campos.forEach(function (campo) {
                campo.addEventListener("input", function () {
                    if (campo.classList.contains("InputText")) {
                        ValidarInputText.call(campo);
                    } else if (campo.classList.contains("InputDate")) {
                        campo.setAttribute("max", valorActual);
                        ValidarInputDate.call(campo, valorActual);
                    } else if (campo.classList.contains("InputSelect")) {
                        ValidarInputSelect.call(campo);
                    } else if (campo.classList.contains("InputNumber")) {
                        ValidarInputNumber.call(campo);
                    }
                    ValidarFormulario.call(formulario);
                });
            });
        });
    </script>

    <!--Validacion de subida de foto-->
    <script>
        function ValidarFoto() {
            var fileName = this.value;
            var idxDot = fileName.lastIndexOf(".") + 1;
            var extFile = fileName.substr(idxDot, fileName.length).toLowerCase();

            if (extFile == "jpg" || extFile == "jpeg" || extFile == "png") {
                this.classList.remove("is-invalid");
                this.classList.add("is-valid");
            } else {
                this.classList.remove("is-valid");
                this.classList.add("is-invalid");
                this.value = "";
            }
        }

        var inputFiles = document.querySelectorAll(".InputFoto");
        inputFiles.forEach(function (elemento) {
            elemento.addEventListener("change", ValidarFoto);
        });
    </script>

    <!--Publicar perdida-->
    <script>
        function PublicarPerdida() {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })
            Swal.fire({
                title: '¿Desea publicar la perdida del perro?',
                text: "Confirme la acción",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Confirmar',
                cancelButtonText: 'Cancelar',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                    var perdida = {
                        email: document.getElementById("Email").value,
                        nombre: document.getElementById("Nombre").value,
                        raza: document.getElementById("Raza").value,
                        peso: document.getElementById("Peso").value,
                        color: document.getElementById("Color").value,
                        sexo: document.getElementById("Sexo").value,
                        foto: RegistrarFoto('Foto'),
                        descripcion: document.getElementById('Descripcion').value,
                        fechaPerdida: document.getElementById('FechaPerdida').value
                    };

                    $.ajax({
                        url: '@Url.Action("PublicarPerdidasIndex", "Perdidas")',
                        type: 'POST',
                        dataType: 'json',
                        data: { perdida: perdida },
                        success: function (data) {
                            if (data.success) {
                                Swal.fire({
                                    icon: 'success',
                                    title: '¡Perdida publicada!',
                                    text: data.message
                                })
                                var boton = document.getElementById('BotonCancelarRegistro');
                                boton.click();

                            } else {
                                Swal.fire({
                                    icon: 'error',
                                    title: 'Error...',
                                    text: data.message
                                })
                            }
                        },
                        error: function (xhr, status, error) {
                            console.log(xhr);
                            console.log(status);
                            console.log(error);
                            Swal.fire({
                                icon: 'error',
                                title: 'Error...',
                                text: 'Ocurrio un erorr!'
                            })
                        }
                    });
                }
            })
        }
    </script>

    <!--Registrar foto-->
    <script>
        function RegistrarFoto(idFoto) {
            var filename;
            var fullPath = document.getElementById(idFoto).value;
            if (fullPath) {
                var startIndex = (fullPath.indexOf('\\') >= 0 ? fullPath.lastIndexOf('\\') : fullPath.lastIndexOf('/'));
                filename = fullPath.substring(startIndex);
                if (filename.indexOf('\\') === 0 || filename.indexOf('/') === 0) {
                    filename = filename.substring(1);
                }
            } else {
                filename = null;
            }

            if (filename != null) {
                var fileUpload = $("#" + idFoto).get(0);
                var files = fileUpload.files;
                var fileData = new FormData();
                fileData.append(files[0].name, files[0]);
                $.ajax({
                    url: '/Perdidas/CargarFoto',
                    type: 'post',
                    datatype: 'json',
                    contentType: false,
                    processData: false,
                    async: false,
                    data: fileData,
                    success: function (response) {
                        console.log(response);
                    },
                    error: function (xhr, status, error) {
                        console.log(xhr);
                        console.log(status);
                        console.log(error);
                    }
                });
            }

            return (filename);
        }
    </script>
}
